<div class="card float">
    <a class="grid option" routerLink="/other" routerLinkActive="router-link-active" >
        <img src="../../../assets/icons/home.svg" alt="Inicio">
        <div class="option__text">Inicio</div>
    </a>
    <a class="grid option" routerLink="/other">
        <img src="../../../assets/icons/listMenu.svg" alt="Historial">
        <div class="option__text">Historial</div>
    </a>
    <a class="grid option main" routerLink="/other">
        <a class="main__img" routerLink="/other"><img src="../../../assets/icons/menu-plus.svg" alt="Ahorrar"></a>
        <div class="option__text">Ahorrar</div>
    </a>
    <a class="grid option" routerLink="/other">
        <img src="../../../assets/icons/user.svg" alt="Mi perfil">
        <div class="option__text">Mi perfil</div>
    </a>
    <a class="grid option" routerLink="/other">
        <img src="../../../assets/icons/dotsMenu.svg" alt="Mas">
        <div class="option__text">Mas</div>
    </a>
</div>

<!-- <div class="card">
    <div class="grid">
        <img src="../../../assets/icons/home.svg" alt="">
        <img src="../../../assets/icons/listMenu.svg" alt="">
        <img src="../../../assets/icons/menu-plus.svg" alt="">
        <img src="../../../assets/icons/user.svg" alt="">
        <img src="../../../assets/icons/dotsMenu.svg" alt="">
        <div class="option__text">Inicio</div>
        <div class="option__text">Historial</div>
        <div class="option__text">Ahorrar</div>
        <div class="option__text">Mi perfil</div>
        <div class="option__text">Mas</div>
    </div>
</div> -->
