<div class="section grid grid-title">
    <div class="section__mainText">Conoce tu portafolio</div>
    <div class="section__badge light">
        {{type | titlecase}}
    </div>
</div>

<div class="card">
    <div class="grid grid-portfolio">
        <div class="company__graph">
            <div class="company__advance">
                <div style="height: 40px;"><img src="../../../assets/icons/robot.svg" alt="Robot"></div>
                <div class="mainTxt">RoboAdvisor</div>
                <div class="subTxt">10 fondos</div>
            </div>
            <circle-progress [percent]=15 [radius]="50" 
            [outerStrokeWidth]="12" [innerStrokeWidth]="10" [space] = "-10.5"            
            [innerStrokeColor]="'#58506B4B'" [outerStrokeColor]="'#41CF69'" [outerStrokeLinecap]="'butt'"
            [showTitle]="false" [showSubtitle]="false" [showUnits]="false"
            ></circle-progress>
        </div>
        <div class="company">
            <div class="company__name">
                <img src={{company.icon}} alt="Skandia">
                <div class="section__badge dark">
                    {{company.percent}}%
                </div>
            </div>
            <div class="company__investment">{{company.name}}</div>
            <div class="company__balance">{{company.balance | currency:'COP':'symbol':'1.0-0'}}</div>
            <div class="company__types">Tipo de activo</div>
            <div class="types" *ngFor="let type of company.model">
                <div>{{type}}</div>
            </div>
            <div class="images">
                <button>
                    <img src="../../../assets/icons/chevron_left.svg" alt="Atras">
                </button>
                <button>
                    <img src="../../../assets/icons/chevron_right.svg" alt="Adelante">  
                </button>
            </div>
        </div>
    </div>
    <div class="types">Tu dinero se invierte de la forma más eficiente de acuerdo al perfil de riesgo asignado por nuestro RoboAdvisor.</div>
</div>