<div class="section grid grid-title">
    <div class="section__mainText">Tus metas</div>
    <div class="section__icon">
        <img src="../../../assets/icons/plus.svg" alt="Añadir meta">
    </div>
</div>

<div class="grid grid-2">
    <div class="card" *ngFor="let item of goals">
        <img src={{item.img}} alt="">
        <div class="card__sub">
            <div>{{item.name}}</div>    
        </div>
        <div class="">
            Grafica
        </div>
        <div class="">
            {{item.progress}}
            {{item.goal}}    
        </div>
        
    </div>
    
</div>
