<div class="section grid grid-title">
    <div class="section__mainText">Tus metas</div>
    <div class="section__icon">
        <a routerLink="/other"><img src="../../../assets/icons/plus.svg" alt="Añadir meta"></a>
    </div>
</div>

<div class="grid grid-2">
    <div class="card" *ngFor="let item of goals">
        <img src={{item.img}} alt="">
        <div class="card__sub">
            <div class="item">{{item.name}}</div>    
        </div>
        <hr>
        <div class="card__info">
            <div class="card__graph">
                <circle-progress [percent]=[item.percent] [radius]="20" 
                [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space] = "-5"
                [titleFontSize]="10" [unitsFontSize]="10" [showSubtitle]="false" [clockwise]="false"
                [innerStrokeColor]="'#FAF9FD'" [outerStrokeColor]="'#54D1ED'"
                [titleColor]="'#54D1ED'" [unitsColor] ="'#54D1ED'" [titleFontWeight] ="600"
                [unitsFontWeight]="600"
                ></circle-progress>
            </div>
            <div class="card__advance">
                <div class="card__current">
                    {{item.progress | currency:'COP':'symbol':'1.0-0'}}
                </div>
                <div class="card__goal">
                    {{item.goal | currency:'COP':'symbol':'1.0-0'}}    
                </div>
            </div>
        </div>
    </div>
</div>
